body {
    font-family: 'Roboto', sans-serif;
    background-color: #2e2f2e; /* Greenish-black background */
    color: #d4d7d1; /* Light text color for contrast */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
header {
    width: 100%;
    background-color: #9acd32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img {
    height: 80px; /* Increased size */
    margin-right: 20px;
}
header .logo h1 {
    font-size: 2em; /* Larger font size */
    margin: 0;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #2e2f2e;
    font-weight: 500;
}
h1 {
    font-family: 'Abril Fatface', Arial; /* Stylish header font */
    color: #9acd32; /* Yellowish-green text color */
    text-align: center;
    margin-bottom: 20px;
}
.filters {
    margin-bottom: 20px;
}
.filters label {
    margin-right: 10px;
}
.filters select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #9acd32;
    background-color: #333;
    color: #d4d7d1;
}
table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #444; /* Darker background for table */
    margin-bottom: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border: 2px solid #9acd32; /* More prominent borders */
}
th {
    background-color: #9acd32; /* Yellowish-green background for header */
    color: #2e2f2e; /* Dark text color */
}
tbody tr:nth-child(odd) {
    background-color: #555; /* Slightly lighter row */
}
tbody tr:hover {
    background-color: #666; /* Hover effect for rows */
}
.button {
    padding: 8px 16px;
    color: #2e2f2e; /* Dark text color */
    background-color: #9acd32; /* Yellowish-green button background */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-weight: 500;
}
.button:hover {
    background-color: #86b42b; /* Slightly darker on hover */
}
footer {
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: #222; /* Dark footer background */
    color: #9acd32;
    position: absolute;
    bottom: 0;
}